ion-list {
   background-color: rgb(209, 141, 78);
   border-radius: 15px;
   margin-top: 15px;
}
ion-item {
   --background:#e3cfcf;
   --border-color:#3b3636;
   font-size: 14px;
}


.content-wrapper {
   max-width: 700px;
   margin-right: auto;
   margin-left: auto;
   padding: 10px;
}




